#log {
	position: absolute;
	bottom: 0;
	right: 50px;
	width: 400px;
	font-family: arial;
	font-size: 12px;
}
#log_header {
	width: 100px;
	background-color: black;
	color: gray;
	border-radius: 10px 10px 0 0;
}
#log_content {
	background-color: #3D4F3D;
	color: #E68A00;
	display: none;
	border-radius: 0 6px 0 0;
}
